/*big tablets up to 1200px*/
@media only screen and (max-width: 1200px) {
    .row {
        padding:0 2%;
    }
    .hero-text {
        width : 100%;
        padding: 0 2%;
    }    
    
}

/*Small tablets to Big tablet , horizontal view of the big tablet*/
@media only screen  and (max-width:1023px) {
    .body{font-size: 18px;}
    .long-para{
        width:80%;
        padding-left:10%;
    }
    
}

/* For screns up to widht 767 vertical veiw of the tablets*/
@media only screen and (max-width:767px) {
    
}
/*For small phones up to 480 px*/
@media only screen and (max-wdith:480px){
    
}